h1 {
    color: #000000;
    background-color:none;
    font-family: 'Times New Roman';
    Font-size: 10px;
    text-align: center;
    width: 20px;
    height: 20px;
}

body {
    background-color: #ffffff;
    text-align: center;
    color: #474350
}

p1 {
    background-color: #53546e;
    font-size: 30px;
    text-align: center;
}

p {
    margin: 24px;
    padding: 1px;
    font-size: 20px;
}

h2 {
    color: #9fa0c3;
}

#mi-id {
    font-size: 50px;
    font-family: times;
}

.box {
    Background-color: #474350;
    width: 300px;
    height: 150px;
    padding: 20px;
    border: 5px solid #baa7b0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.column {
    flex: 1;
    padding: 20px;
}
.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: none;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;

  }
  
  .brand {
    display: flex;
    align-items: center;
    color: #3b3b39;
    font-size: 30px; 
    }

    .img{
        width: 10px;
        height: 20px;
    }
  
  li > a {
    padding: 8px 24px;
  }
  
  li {
    list-style-type: none;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .button-menu-toggle {
    display: none;
  }
  @media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
    .nav-links {
      display: none;
    }
  
    .button-menu-toggle {
      display: block;
      background-color: rgb(92, 90, 90);
      border: none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
  
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(32, 31, 31, 0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap: 70px;
      font-size: 40px;
    }
  }
  nav ul{
    list-style:none;
    margin: 0;
    padding: 0;
}
nav li{
    display: inline-block;
    margin-right: 20px;
}
nav a{
    color: #473e3e;
    text-decoration: none;
    padding: 5px;
}
nav a:hover{
    color: #9695fc;
}
.container-slide{
  background-color:#ffffff;
  margin: auto;
  width: 1200px;
  padding: 30px;
}
ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.slide{
  position: relative;
  width: 1200px;
  height: 400px;
  
}

ul.slide li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: inherit;
  height: inherit;
  background-color:#ffffff;
  transition:opacity .5s;
}
ul.slide li img{
  width: 100%;
  height: 400px;
  object-fit: cover;
 
}

ul.slide li:first-child{
  opacity: 1;
}
ul.slide li:target{
  opacity: 1;
}

.menu{
  text-align: center;
  margin: 20px;
}
.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  text-decoration: none;
  color: #5a5a66;
  background-color: #5a5a66;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 15px;
  border-radius: 100%;
}
.menu li a:hover{
  color: #fff9ff;;
}


#top{
  height: 590px;
  margin: 50px;
  text-align: center;
}



.tops{
  width: 100%;
  height: 900px;
text-align: center;
 display: flex;
 

}
.tops ul{
  padding: 0;
  display: flex;
  width: 400%;
  flex-direction: column;
text-align: center;
}





/*
@keyframes cambio{
  0%{margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
}
(en alguna ul no se cual todavia)
 display: flex;
  animation:cambio 20s infinite alternate linear;
*/